<div class="flex items-center justify-center">
    <div class=" inline-flex items-center gap-[6px] py-2 px-3 h-[36px] rounded-xl">
        <span class="loader_bar inline-block w-[6px] h-[20px] bg-[#212121] opacity-50 rounded-lg" style="--d: 150ms"></span>
        <span class="loader_bar inline-block w-[6px] h-[20px] bg-[#212121] opacity-50 rounded-lg" style="--d: 300ms"></span>
        <span class="loader_bar inline-block w-[6px] h-[20px] bg-[#212121] opacity-50 rounded-lg" style="--d: 450ms"></span>
        <span class="loader_bar inline-block w-[6px] h-[20px] bg-[#212121] opacity-50 rounded-lg" style="--d: 600ms"></span>
        <span class="loader_bar inline-block w-[6px] h-[20px] bg-[#212121] opacity-50 rounded-lg" style="--d: 750ms"></span>
    </div>
</div>
