::-webkit-scrollbar{
    display: none;
}

.animated{
    animation: turn 150ms linear;
}

@keyframes turn {
    0% {
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.is-invalid{
    color: red;
    border-color: red;
}

.active{
    background-color: rgb(29, 108, 255);
    color: white;
    border: 1px solid rgb(26, 86, 220);
}